<%  @questions.each do |question| %>
<div class="question-partial">
    <%= render partial: 'question_display', locals: {question: question } %>
</div>
<% end %>

<div class="digg_pagination">
<%= will_paginate @questions %>
</div>
