<div class="content">
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render "login_form" %>

<h3>Or</h3>
<h3><%= link_to "Create a new account", signup_path %></h3>
</div>