<div class="content">
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render "login_form" %>
<button class="btn"><%= link_to "Create a new account", signup_path %></button>
</div>