<h2>
  <%= @tag.name %>
</h2>
<ul>
  <% @tag.questions.each do |question| %>
    <li>
      <%= render :partial => 'questions/question_display', :locals => {question: question} %>
    </li>
  <% end %>
</ul>
