body {
  background-image: image-url('backdrop.jpg');
  background-image: none;
  background-attachment:fixed;
  background-position:center;
  padding-top:60px;
}

.container {
  width:900px !important;
  margin: 0 auto;
}

.content {
  margin: 40px 300px;
}

@font-face {
    font-family: 'Colleged';
    src: font-url('Colleged.ttf');
}

a:link {text-decoration:none !important;}
a:visited {text-decoration:none !important;}
a:hover {text-decoration:none !important;}
a:active {text-decoration:none !important;}

.apple_pagination {
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.brah {
  margin-top:100px;
  font-family: 'Colleged';
  font-size: 80px;
}

.navbar-inner a{
  color:white !important;
  text-shadow: none !important;
  letter-spacing: 1.5px !important;
}

.navbar-inner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-image: none;
  opacity:0.9;
  border: none !important;
  -webkit-box-shadow: 0px 8px 23px rgba(50, 50, 50, 0.20) !important;
  -moz-box-shadow:    0px 8px 23px rgba(50, 50, 50, 0.20) !important;
  box-shadow:         0px 8px 23px rgba(50, 50, 50, 0.20) !important;
}

.navbar-inner {
  background: #ff670f !important; /* Old browsers */
  background: -moz-linear-gradient(top, #ff670f 0%, #ff670f 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff670f), color-stop(100%,#ff670f)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff670f 0%,#ff670f 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff670f 0%,#ff670f 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff670f 0%,#ff670f 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #ff670f 0%,#ff670f 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ) !important; /* IE6-9 */
  color: black !important;
  min-height: 45px !important;
}

.brand {
  margin-left: 250px !important;
}

.stat {
  font-size:20px;
  display: block;
  margin: 0 auto;
}

.type {
  display: block;
  width:50px;
  margin: 0 auto;
}

.question-title {
display: inline-block;
margin-left: 10px;
}

.question-user {
position: relative;
display: inline-block;
margin-right:10px;
}

.counter {
width:65px;
display: inline-block;
margin:0 10px;
text-align: center;
padding: 5px;
}

.question-partial {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  margin-bottom: -1px;
  padding-top: 35px;
  padding-bottom: -10px;
}

.highlighted {
  background-color: green;
  color:white;
}

.tag-links {
  list-style-type: none;
}

.tag-title {
  text-align: center;
  width:400px;
  margin: 0 auto;
}